@model ToDoList.Models.Item
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>To Do List</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link href="~/css/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="container">
    <h2>Item Details</h2>
    <hr />
    <h3>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)<h3>
    <p>@Html.ActionLink("Back to list", "Index")</p>
    </div>
</body>
</html>